.footer {
    color: #ffffff;
    &-backgroundColor {
        background-color: #c0a4a5;
    }
    .input-group {
        width: 100%;
        &-text {
            background-color: #c0a4a5;
            color: #ffffff;
        }
    }
    &-logo {
        background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/DOYOGA.png);
        width: 96px;
        height: 31px;
        white-space: nowrap;
        text-indent: 101%;
        overflow: hidden;
    }
}
.border-white {
    border: 1px solid #ffffff;
}
.border-bottom-white {
    border-bottom: 1px solid #ffffff;
}

@include media-breakpoint-up(md) {
    .footer {
        .input-group {
            width: 50%;
        }
        &-copyright {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

@include media-breakpoint-up(lg) {
    .footer {
        .input-group {
            width: 33.33%;
        }
    }
}
