.footer {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    &-backgroundColor {
        background-color: #c0a4a5;
    }
    .input-group {
        width: 100%;
        &-text {
            background-color: #c0a4a5;
            color: #ffffff;
        }
    }
    &-logo {
        background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/DOYOGA.png);
        width: 96px;
        height: 31px;
    }
}
@media (min-width: 768px) {
    .footer {
        .input-group {
            width: 50%;
        }
        &-copyright {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
@media (min-width: 992px) {
    .footer {
        .input-group {
            width: 33.33%;
        }
    }
}
