.reservation {
    color: #907a7b;

    &-nav {
        background-color: #f5f0e7;
        color: #907a7b;
    }
    &-navActive {
        background-color: #907a7b;
        color: #ffffff;
    }
    &-image {
        height: 248.5px;
        object-fit: cover;
    }
}
@include media-breakpoint-up(md) {
    .reservation {
        &-image {
            height: 248.5px;
        }
    }
}
